@using Entities.ViewModels;
@{
    List<CateNum> listCate = ViewBag.listCate;
    string keyTitle = ViewBag.keyTitle;
}
<!DOCTYPE html>
<html class="">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页 - @Model.Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery-3.4.0.min.js"></script>
    <link href="/lib/layui/css/layui.css" rel="stylesheet">
    <script src="/lib/layui/layui.js"></script>

    <style type="text/css">
        .fancybox-margin {
            margin-right: 0px;
        }
    </style>
</head>

<body>
    <div id="container">

        <div class="left-col">
            <div class="overlay"></div>
            <div class="intrude-less">
                <header id="header" class="inner">
                    <a href="/Home/Index" class="profilepic">
                        <img lazy-src="/images/logo.png" class="js-avatar show" src="@Model.HeadImg">
                    </a>

                    <hgroup>
                        <h1 class="header-author" style="margin-top: 10px; margin-bottom: 5px;"><a href="/Home/Index">@Model.Name</a></h1>
                    </hgroup>


                    <p class="header-subtitle">
                        @Model.SigName
                    </p>
                    <div class="layui-input-inline" style="margin-top: 5px;">
                        <input id="search_key" style="float:left; width:160px; height:30px;" type="text" name="title" value="@keyTitle" placeholder="查询关键字"
                               class="layui-input">
                        <button style="float:left;" class="layui-btn layui-btn-sm" onclick="Search();" type="button"><i class="layui-icon">&#xe615;</i>查询</button>
                        <div class="clear"></div>
                    </div>
                    <p></p>



                    <div class="switch-btn" style="margin-top: 5px;">
                        <div class="icon">
                            <div class="icon-ctn">
                                <div class="icon-wrap icon-house" data-idx="0">
                                    <div class="birdhouse"></div>
                                    <div class="birdhouse_holes"></div>
                                </div>
                                <div class="icon-wrap icon-ribbon hide" data-idx="1">
                                    <div class="ribbon"></div>
                                </div>

                                <div class="icon-wrap icon-link hide" data-idx="2">
                                    <div class="loopback_l"></div>
                                    <div class="loopback_r"></div>
                                </div>


                                <div class="icon-wrap icon-me hide" data-idx="3">
                                    <div class="user"></div>
                                    <div class="shoulder"></div>
                                </div>

                            </div>

                        </div>
                    </div>



                    <div class="switch-area">
                        <div class="switch-wrap">
                            <section class="switch-part switch-part1" style="max-height: 297.2px;">
                                <nav class="header-menu">
                                    <ul>
                                        @foreach (var item in listCate)
                                        {
                                            <li><a href="/Home/Index?id=@item.Id">@item.Name （@item.Num）</a></li>
                                        }
                                    </ul>
                                </nav>
                                <nav class="header-nav">
                                    <div class="social">
                                        <a class="github" target="_blank" href="https://coding.net/u/niunan" title="github">coding.net</a>
                                        <a class="linkedin" target="_blank" href="http://www.linkedin.com/in/niu-nan-231545ba/" title="LinkedIn">LinkedIn</a>
                                        <a class="mail" target="_blank" href="mailto:164423073@qq.com" title="Email">Email</a>
                                    </div>
                                </nav>
                            </section>
                        </div>
                    </div>
                </header>
            </div>

        </div>

        <div class="mid-col">
            <nav id="mobile-nav">
                <div class="overlay">
                    <h1 class="header-author js-mobile-header hide">不知道什么意思</h1>
                </div>
                <div class="intrude-less">
                    <header id="header" class="inner">
                        <div class="profilepic">
                            <img src="/images/logo.png" class="js-avatar show">
                        </div>
                        <hgroup>
                            <h1 class="header-author">小彪博客</h1>
                        </hgroup>

                        <nav class="header-nav">
                            <div class="social">
                                <a class="github" target="_blank" href="javascript:;" title="github">github</a>
                                <a class="linkedin" target="_blank" href="javascript:;"
                                   title="LinkedIn">LinkedIn</a>
                                <a class="mail" target="_blank" href="mailto:569973364@qq.com" title="Email">Email</a>
                            </div>
                        </nav>
                    </header>
                </div>
            </nav>




            <div class="body-wrap">
                @RenderBody()
            </div>

            <footer id="footer">
                <div class="outer">
                    <div id="footer-info">
                        <div class="footer-left">
                            版权所有 © 2019
                            <a href="/Home/Index" target="_blank">www.xbblog.net</a>
                        </div>
                        <div class="footer-right">
                            Powered by <a href="/Home/Index" target="_blank">小彪</a>
                        </div>
                    </div>
                </div>
            </footer>
            <input type="hidden" id="hf_key">
            <input type="hidden" id="hf_month">
            <input type="hidden" id="hf_cabh">
        </div>
    </div>
</body>
</html>
@RenderSection("Scripts", required: false)
